@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0d3b66;
  --whiteColor: #ffffff;
  --White: #ffffff;
  --borderColor: #dddddd;
  --lightPrimary: #e6edf5;
  --lightGray: #f5f5f5;
  --gray: #777777;
  --dark: #1e2022;
  --red: #ff5555;
  --pageBg: #f3f4f6;
  --secondary: #ff7f11;
  --thidary: #3b97ff;
  --yellow: #f8b524;
  --lightYellow: #fff6e0;
  --success: #008c78;
  --lightGreen: #ccf2ed;
  --lightRed: #ffecec;

  --font-shabnam: "Shabnam", system-ui, sans-serif;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #0d3b66;
  --whiteColor: #ffffff;
  --White: #ffffff;
  --borderColor: #dddddd;
  --lightPrimary: #e6edf5;
  --lightGray: #f5f5f5;
  --gray: #777777;
  --dark: #1e2022;
  --red: #ff5555;
  --pageBg: #f3f4f6;
  --secondary: #ff7f11;
  --thidary: #3b97ff;
  --lightYellow: #fff6e0;
  --yellow: #f8b524;
  --success: #008c78;
  --lightGreen: #ccf2ed;
  --lightRed: #ffecec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-shabnam);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-whiteColor: var(--whiteColor);
  --color-borderColor: var(--borderColor);
  --color-lightPrimary: var(--lightPrimary);
  --color-lightGray: var(--lightGray);
  --color-gray: var(--gray);
  --color-dark: var(--dark);
  --color-red: var(--red);
  --color-pageBg: var(--pageBg);
  --color-secondary: var(--secondary);
  --color-thidary: var(--thidary);
  --color-White: var(--White);
  --color-lightYellow: var(--lightYellow);
  --color-yellow: var(--yellow);
  --color-success: var(--success);
  --color-lightGreen: var(--lightGreen);
  --color-lightRed: var(--lightRed);
}

.font-shabnam {
  font-family: var(--font-shabnam) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  direction: rtl;
}

.MuiTypography-root,
.MuiTable-root,
.MuiTableCell-root,
.MuiTableHead-root,
.MuiTableBody-root,
.MuiTableRow-root,
.MuiMenu-root,
.MuiMenuItem-root,
.MuiMenuList-root,
.MuiPopover-root,
.MuiPaper-root,
.MuiButton-root,
.MuiButtonBase-root,
.MuiIconButton-root,
.MuiInputBase-root,
.MuiInputLabel-root,
.MuiFormLabel-root,
.MuiFormControl-root,
.MuiSelect-root,
.MuiListItem-root,
.MuiListItemText-root,
.MuiChip-root,
.MuiBadge-root,
.MuiTooltip-root,
.MuiDialogTitle-root,
.MuiDialogContent-root,
.MuiDialogActions-root,
.MuiSnackbarContent-root {
  font-family: var(--font-shabnam) !important;
}

@layer base {
  html {
    font-family: var(--font-shabnam);
  }
}

.MuiPopover-paper,
.MuiMenu-paper {
  font-family: var(--font-shabnam) !important;
}
