@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0d3b66;
  --whiteColor: #ffffff;
  --White: #ffffff;
  --borderColor: #dddddd;
  --lightPrimary: #e6edf5;
  --lightGray: #f5f5f5;
  --gray: #777777;
  --dark: #1e2022;
  --red: #ff5555;
  --pageBg: #f3f4f6;
  --secondary: #ff7f11;
  --thidary: #3b97ff;
  --yellow: #f8b524;
  --lightYellow: #fff6e0;
  --success: #008c78;
  --lightGreen: #ccf2ed;
  --lightRed: #ffecec;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #0d3b66;
  --whiteColor: #ffffff;
  --White: #ffffff;
  --borderColor: #dddddd;
  --lightPrimary: #e6edf5;
  --lightGray: #f5f5f5;
  --gray: #777777;
  --dark: #1e2022;
  --red: #ff5555;
  --pageBg: #f3f4f6;
  --secondary: #ff7f11;
  --thidary: #3b97ff;
  --lightYellow: #fff6e0;
  --yellow: #f8b524;
  --success: #008c78;
  --lightGreen: #ccf2ed;
  --lightRed: #ffecec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-whiteColor: var(--whiteColor);
  --color-borderColor: var(--borderColor);
  --color-lightPrimary: var(--lightPrimary);
  --color-lightGray: var(--lightGray);
  --color-gray: var(--gray);
  --color-dark: var(--dark);
  --color-red: var(--red);
  --color-pageBg: var(--pageBg);
  --color-secondary: var(--secondary);
  --color-thidary: var(--thidary);
  --color-White: var(--White);
  --color-lightYellow: var(--lightYellow);
  --color-yellow: var(--yellow);
  --color-success: var(--success);
  --color-lightGreen: var(--lightGreen);
  --color-lightRed: var(--lightRed);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

.MuiTable-root,
.MuiTableCell-root {
  font-family: "Shabnam", sans-serif !important;
}
